.navbar {
padding:1%;
background-color:#bfe3c5;
}
.title-header {
padding: 1%;
background-color: #ffcb86;}

.bg-color-primary {
background-color:#0d6efd;
}
.footer {
background-color: gainsboro;
padding: 2%;
margin-top: 0px;
margin-bottom: 0px;
}
